name: CI/CID Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest


    steps:
     # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

# set up Nodejs environment        
      - name: Set up Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: '14'

# Install dependencies
      - name: Install dependencies
        run: npm install          